<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title>appname</title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= javascript_include_tag :application %>

  <%= render "javascript" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron text-center header">
    <h1>Railsgirls Rotterdam</h1>
    <p>14, 15 & 16 April 2016</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render "flashes" -%>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
